{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<style>
.first {
    padding-top: 15rem;
}
.spacing{
    margin: 2rem 2rem;
}
</style>
<h1 style="text-align: center">LMTD YOUNG SCRAPPERS</h1>

<p class="first spacing" style = "text-align: center"> In order to scrape a site please vist the url: <b>"/scrape"</b></p>
<p class = "spacing"style = "text-align: center"> In order to see item in our inventory: <b>"/items"</b></p>
<p style = "text-align: center"> In order to save data to s3 bucket please visit url: <b>"/quit"</b></p>
<p style = "text-align: center"> In order to search for a book please visit url: <b>"/search + title of book"</b></p>
{% endblock %}