{% extends 'base.html' %}

{% block head %}
<title>Young Scrapers</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Young Scrapers</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no Books. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Book</th>
            <th>Price</th>
            <th>Availability</th>
            <th>Actions</th>
            
        </tr>
        {% for task in tasks %}
            <tr>
                
                <td>{{ task.content }}</td>
                <td>{{ task.price }}</td>
                <td>{{ task.availability }}</td>
                <!-- <td>{{ task.date_created.date() }}</td> -->
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Book">
        </form>
    </div>
</div>
{% endblock %}