{% extends 'base.html' %}

{% block head %}
<title>items</title>
{% endblock %}

{% block body %}


<style>
body {background-color: rgb(97, 95, 95);}

.table-head{
    color: hotpink;
    padding-right: 2rem;

}
.space-left{
    padding-right: .5rem;
    color: white;
}

</style>

<div class="content"> 

<tr>
    <th><span class = "table-head"><b>Title</b></span></th>
    <th><span class = "table-head"><b>Price</b></span></th>
    <th><span class = "table-head"><b>Availability</b></span></th>
    <br>
</tr>



    {% for x in content%}
    <tr>
        <td><span class = "space-left">{% print(x['title'])  %}</span></td>
        <td><span class = "space-left">{% print(x['price']) %}</span></td>
        <td><span class = "space-left">{%print(x['availability'])%}</span></td>
        <br>


    </tr>
    <!-- <br>
        <span>{%print(x['title'])%}</span>
        <br>
        <span>{%print(x['price'])%}</span>
        <br>
        <span>{%print(x['availability'])%}</span> -->
    {% endfor %}
</div>
<!-- <p>{{content}}</p> -->
{% endblock %}